{% extends "layout.html" %}

{% block pageTitle %}
  Eligible due to letter code – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {{ govukPanel({
        titleText: "You are eligible for the Warm Home Discount"
      }) }}

      <p>You will receive the discount automatically - you do not need to complete this form or contact us. </p> 
      
      <h2 class="govuk-heading-m">What to do next</h2>

      <p>
        <a href="https://www.citizensadvice.org.uk/consumer/energy/get-energy-advice/" target="_blank">Citizens Advice</a> can provide free advice about energy bills, and help find any other benefits, grants or other forms of help you may be eligible for. 
      </p>

      <p>We also recommend:</p>

      <ul class="govuk-list">
        <li>
          <a href="https://www.gov.uk/improve-energy-efficiency" target="_blank">Find ways to save energy in your home</a>
        </li>
        <li>
          <a href="https://helpforhouseholds.campaign.gov.uk/help-with-your-bills/" target="_blank">Help with your energy bills</a>
        </li>
        <li>
          <a href="https://www.simpleenergyadvice.org.uk/" target="_blank">Simple Energy Advice</a>
        </li>
        <li>
          <a href="https://www.gov.uk/energy-company-obligation" target="_blank">Help from your energy supplier: the Energy Company Obligation</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
