{% extends "layout.html" %}

{% block pageTitle %}
  Probably ineligible – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {{ govukPanel({
        titleText: "You probably cannot claim the Warm Home Discount this year"
      }) }}

      <p>Unfortunately, based on the answer you have given you probably don't qualify for the Warm Home Discount.</p>

      <p>
        If you think you are eligible, you can call the helpline on XXXXX. If your property has an EPC, 
        the helpline can access it for you. If an EPC is not available, the helpline can point to further advice and support. 
      </p>

      <h2 class="govuk-heading-m">What to do next</h2>

      {% include "includes/eligiblity-next-list.html" %}

    </div>
  </div>

{% endblock %}
