{% extends "layout.html" %}

{% block pageTitle %}
  Ineligible due to location ({{ data['region'] }}) – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {{ govukPanel({
        titleText: "Sorry, this service isn't for you"
      }) }}

      <p>The Warm Home Discount is not available to residents of Northern Ireland.</p>

      <h2 class="govuk-heading-m">What to do next</h2>

      <p>
        You may qualify for the <a href="https://www.nihe.gov.uk/Housing-Help/Affordable-Warmth-Boiler-Replacement" target="_blank">Affordable Warmth / Boiler Replacement Schemes</a> which help tackle fuel poverty and energy inefficiency in privately owned houses.
      </p>

    </div>
  </div>

{% endblock %}
