{% extends "layout.html" %}

{% block pageTitle %}
  Ineligible property type – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {{ govukPanel({
        titleText: "You cannot claim the Warm Home Discount this year"
      }) }}

      <p>Unfortunately, you do not qualify because only houses and flats are eligible for the Warm Home Discount scheme.</p>

      <h2 class="govuk-heading-m">What to do next</h2>

      {% include "includes/eligiblity-next-list.html" %}

    </div>
  </div>

{% endblock %}
