{% extends "layout.html" %}

{% block pageTitle %}
  Eligible due to letter code – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {{ govukPanel({
        titleText: "You are eligible for the Warm Home Discount"
      }) }}

      <p>You will receive the discount automatically – you do not need to complete this form or contact us.</p> 
      
    </div>
  </div>

{% endblock %}
