{% extends "layout.html" %}

{% block pageTitle %}
  Property Size – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/check-answers" method="post" novalidate data-validate="form-validation">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          id: "property-size",
          name: "property-size",
          label: {
            text: "How big is your property?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            classes: "app-hint",
            html: "<p>You can find the floor area on Energy Performance Certificate (EPC) for the home you were living in on 21 August 2022.</p>
            <p>If you cannot find a copy of the EPC for your property, you may be able to find the necessary details using our <a href=\"https://www.gov.uk/find-energy-certificate\">Find an energy certificate service</a>.</p>"
          },
          classes: "govuk-input--width-5",
          suffix: {
            text: "square meters"
          },
          spellcheck: false,
          value: data['property-size']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <script type="application/json" id="form-validation">
        {
          "property-size": {
            "presence": {
              "message": "^Enter the property size"
            }
          }
        }
      </script>

    </div>
  </div>

{% endblock %}
