{% extends "layout.html" %}

{% block pageTitle %}
  Probably ineligible – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {{ govukPanel({
        titleText: "You probably aren't eligible for the Warm Home Discount this year"
      }) }}

      <p>This is based on what you've told us about the property you lived in on 21 August 2022.</p>

      <h2 class="govuk-heading-m">If you believe you might still be eligible</h2>

      <p>
        Call the helpline on 0800 107 8002  before 28 February 2023 and we will check if you are eligible.
      </p>

      <p>
      Or you can write to us at:
      </p>

      <p>
      110552 Warm Home Discount Scheme<br>
      PO Box 26965<br>
      Glasgow<br>
      G1 9BW<br>
      </p>

      <h2 class="govuk-heading-m">What you will need when you contact us</h2>

      <p>
        Your property may need a complete Energy Performance Certificate (EPC) for us
        to confirm your eligibility. This certificate tells us how energy
        efficient your property is. If your property's EPC has expired,
        we will still accept it.
      </p>

      <p>
        <a href="https://www.gov.uk/find-energy-certificate" target="_blank">Find an energy certificate</a> to check if your property has an EPC.
      </p>

      <p>
        <a href="https://www.gov.uk/get-new-energy-certificate" target="_blank">Get a new energy certificate</a> if your property does not have an EPC.
      </p>

      {% include "includes/eligiblity-next-list.html" %}

    </div>
  </div>

{% endblock %}
