{% extends "layout.html" %}

{% block pageTitle %}
  Eligible, contat us - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {{ govukPanel({
        titleText: "You are eligible for the Warm Home Discount this year"
      }) }}

      <p>
        This is based on the information you’ve provided about the benefits you claim and the type of property you lived in on 21 August 2022 according to your Energy Performance Certificate.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>
        We will send letters to eligible households between November 2022 and mid-January 2023. If you receive a letter, please follow any instruction in the letter.
      </p>

      <h2 class="govuk-heading-m">If you do not receive a letter</h2>

      <p>
        If you have not received a letter by mid-January 2023, call us on 0800 107 8002 before 28 February 2023.
      </p>

      <p>
      Or you can write to us at:
      </p>

      <p>
      110552 Warm Home Discount Scheme<br>
      PO Box 26965<br>
      Glasgow<br>
      G1 9BW<br>
      </p>

      {% include "includes/eligiblity-next-list.html" %}

    </div>
  </div>

{% endblock %}
