
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        WHD Eligibility Checker Prototype
        <span class="govuk-caption-xl">Version 3.2</span>
      </h1>
      <p>
        Prototype of the Warm Home Discount Eligibility Checker for BEIS built using the GDS prototyping toolkit.
      </p>

      <h2 class="govuk-heading-m">Prototype sitemap</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/start">Warm Home Discount Eligibility Checker</a>
        </li>
        <li>
          <a href="/region">Region</a>

          <ul>
            <li>
              <a href="/ineligible-region-ni">Ineligible due to location - Northern Ireland</a>
            </li>
            <li>
              <a href="/ineligible-region">Ineligible due to location - Scotland</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/letter">Letter</a>

          <ul>
            <li>
              <a href="/letter-reference">Letter reference code</a>
            </li>
            <li>
              <a href="/eligible-letter-code">Eligible due to letter code</a>
            </li>
            <li>
              <a href="/eligible-letter-advice">Eligible - Follow advice</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/name-on-bill">Name on bill</a>

          <ul>
            <li>
              <a href="/ineligible-bill-name">Ineligible due to wrong name on bill</a>
            </li>
            <li>
              <a href="/ineligible-bill-name-landlord">Ineligible due to wrong name on bill - landlord</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/electricity-supplier">Electricity supplier</a>

          <ul>
            <li>
              <a href="/ineligible-supplier">Ineligible due to energy supplier</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/benefits">Benefits</a>

          <ul>
            <li>
              <a href="/household-occupants">Household occupants</a>
            </li>
            <li>
              <a href="/household-income">Household income</a>
            </li>
            <li>
              <a href="/ineligible-income">Ineligible - Income over threshold</a>
            </li>
            <li>
              <a href="/ineligible-benefits">Ineligible - Not on benefits</a>
            </li>
            <li>
              <a href="/eligible-letter-wait">Eligible - You will be contacted</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/property-type">Property Type</a>

          <ul>
            <li>
              <a href="/ineligible-property-parkhome">Ineligible - Park home</a>
            </li>
            <li>
              <a href="/ineligible-property">Ineligible - Other</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/property-age">Property Age</a>
        </li>
        <li>
          <a href="/property-size">Property Size</a>
        </li>
        <li>
          <a href="/check-answers">Check answers</a>

          <ul>
            <li>
              <a href="/eligible-unqualified">Probably ineligible</a>
            </li>
            <li>
              <a href="/eligible-qualified">Probably eligible</a>
            </li>
          </ul>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Updates</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
        Version 3.2 - 03/11/2022 - Address Amy's feedback, accessibility updates
        </li>
        <li>
        Version 3.1 - 01/11/2022 - Content updates, address added
        </li>
        <li>
        Version 3.0 - 27/10/2022 - Content updates, EPC page removed, all endpoints updated
        </li>
        <li>
        Version 2.1 - 11/10/2022 - Content updates, supplier list update, EPC page added, all endpoints updated
        </li>
        <li>
          Version 1.0 - 22/09/2022 - Initial deployment of prototype
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
