{% extends "layout.html" %}

{% block pageTitle %}
  Ineligible property type – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {{ govukPanel({
        titleText: "You need a different service"
      }) }}

      <p>
        Apply for the <a href="https://www.parkhomeswhd.com/" target="_blank">Park Homes Warm Home Discount</a> instead.
      </p>

      {% include "includes/eligiblity-next-list.html" %}
      
    </div>
  </div>

{% endblock %}
