{% extends "layout.html" %}

{% block pageTitle %}
  Ineligible due to wrong name on bill – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {{ govukPanel({
        titleText: "You cannot claim the Warm Home Discount this year"
      }) }}

      <p>Unfortunately, you can only claim the Warm Home Discount if your name, or your partner's name, is on the electricity bill.</p>

      <p>
        Yours does not need to be the only name on the electricity bill, so may wish to speak to your landlord to see 
        if you or your partner can also be listed on the bill so that you can claim next year.        
      </p>

      <h2 class="govuk-heading-m">What to do next</h2>

      {% include "includes/eligiblity-next-list.html" %}

    </div>
  </div>

{% endblock %}
