{% extends "layout.html" %}

{% block pageTitle %}
  Letter referrence code – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/letter-ref-validate" method="post" novalidate data-validate="form-validation">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/details/macro.njk" import govukDetails %}
        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

        {% call govukFieldset({
          legend: {
            text: "What are the first 5 digits of your letter’s reference code?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukInsetText({
            text: "The reference code can be found in the top left-hand corner of your letter and begins with WHD."
          }) }}

          <p>If you live in Wales, use the code from your English language letter.</p>

          {{ govukRadios({
            idPrefix: "letter-ref",
            name: "letter-ref",
            items: [
              {
                value: "whds1",
                text: "WHDS1",
                checked: checked("letter-ref", "whds1")
              },
              {
                value: "whds2",
                text: "WHDS2",
                checked: checked("letter-ref", "whds2")
              },
              {
                value: "whds3",
                text: "WHDS3",
                checked: checked("letter-ref", "whds2")
              },
              {
                value: "whds4",
                text: "WHDS4",
                checked: checked("letter-ref", "whds2")
              },
              {
                value: "whds5",
                text: "WHDS5",
                checked: checked("letter-ref", "whds2")
              },
              {
                value: "whds6",
                text: "WHDS6",
                checked: checked("letter-ref", "whds2")
              },
              {
                divider: "or"
              },
              {
                value: "I do not know",
                text: "I do not know",
                checked: checked("letter-ref", "dont-know")
              }
            ]
          }) }}

        {% endcall %}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <script type="application/json" id="form-validation">
        {
          "letter-ref": {
            "presence": {
              "message": "^Select the letter reference code printed on your letter"
            }
          }
        }
      </script>

    </div>
  </div>

{% endblock %}
