{% extends "layout.html" %}

{% block pageTitle %}
  Postcode - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/select-address" method="post" novalidate data-validate="form-validation">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {% call govukFieldset({
          legend: {
            text: "Enter the postcode of the property you were living in on 21 August 2022",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          <p class="govuk-body">
            We’ll use your postcode to search for your energy performance certificate (EPC). Your EPC will tell us about the type, age and size of your property.
          </p>

          {{ govukInput({
            label: {
              text: "Enter the postcode"
            },
            hint: {
              text: "For example LS1 4AP"
            },
            id: "postcode",
            name: "postcode",
            classes: "govuk-input--width-10",
            spellcheck: false,
            value: data['postcode']
          }) }}

        {% endcall %}


        {{ govukDetails({
          open: false,
          summaryText: "If you do not know your postcode ",
          html: "
            <p>Find your postcode using
            <a href=\"https://www.royalmail.com/find-a-postcode\" target=\"_blank\">Royal Mail's postcode finder (opens in new tab)</a>.</p>
          "
        }) }}

        <button class="govuk-button" data-module="govuk-button">Find my address</button>

      </form>

      <script type="application/json" id="form-validation">
        {
          "postcode": {
            "presence": {
              "message": "^Enter the postcode"
            }
          }
        }
      </script>

    </div>
  </div>

{% endblock %}
