{% extends "layout.html" %}

{% block pageTitle %}
  Property Size – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/check-answers" method="post" novalidate data-validate="form-validation">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {% call govukFieldset({
          legend: {
            text: "What is the size of this property?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukDetails({
            open: false,
            summaryText: "How to find the size of your property ",
            html: "
              <p>The total area of your property will be on your property's Energy Performance Certificate (EPC).</p>

              <p>If you are a tenant, the property's EPC may have been provided by the landlord or letting agency when you moved in.</p>

              <p>If you are a homeowner, the property's EPC may have been provided by the estate agent during the house sale.</p>

              <h3 class=\"govuk-heading-m\">Search online for your property’s size</h3>

              <p>
                If you do not have a paper copy, search for your property's EPC on the
                <a href=\"https://epc.opendatacommunities.org/login\" target=\"_blank\">Energy Performance of Buildings Data website (opens in new tab)</a>.
                You do not have to pay for this service.
              </p>

              <p>The size of your property will be listed under the 'total floor area'.</p>

              <p>Your property's size may also be listed in your tenancy agreement or on insurance paperwork.</p>
            "
          }) }}

          {{ govukInput({
            label: {
                text: "Size of property, in square metres"
              },
            id: "property-size",
            name: "property-size",
            classes: "govuk-input--width-5",
            suffix: {
              text: "square meters"
            },
            spellcheck: false,
            value: data['property-size']
          }) }}

        {% endcall %}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <script type="application/json" id="form-validation">
        {
          "property-size": {
            "presence": {
              "message": "^Enter the property size"
            }
          }
        }
      </script>

    </div>
  </div>

{% endblock %}
