{% extends "layout.html" %}

{% block pageTitle %}
  Select address - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/postcode-validate" method="post" novalidate data-validate="form-validation">

        {% if postcodeResults %}

          <h1 class="govuk-heading-l">Results for {{ data['postcode'] }}</h1>

          <p>
            <a href="/postcode">Change postcode</a>
          </p>

          <p>There are energy performance certificates (EPCs) for the following properties:</p>

          <ul class="govuk-list govuk-list--spaced govuk">
            {% for item in postcodeResults %}
              <li><a href="/check-property-details?address={{ item.address | urlencode }}&propertyType={{ item.type | urlencode }}&propertySize={{ item.size | urlencode }}&propertyAge={{ item.age | urlencode }}" class="govuk-link">{{ item.address }}</a></li>
            {% endfor %}
          </ul>

          <h3 class="govuk-heading-s">If your address is not listed</h3>

          <p>
            If a neighbouring property is identical to your home, you can select their address to continue.
          </p>

          <p>
            If the listed properties are not the same as yours, you can<a href="/property-type">enter your property details manually</a>.
          </p>

        {% else %}

          <h1 class="govuk-heading-l mb-0">No results for {{ data['postcode'] }}</h1>

          <p>
            <a href="/postcode">Change postcode</a>
          </p>

          <p>There are no properties with an energy performance certificate (EPC) in this postcode.</p>

          <p>
          <a href="/property-type">Enter your property details manually</a>.
          </p>

        {% endif %}



      </form>

    </div>
  </div>

{% endblock %}
