{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check if you are eligible for the Warm Home Discount Scheme in England and Wales
      </h1>

      <p>
        You do not need to apply for the Warm Home Discount. You’ll be paid automatically by your energy supplier.
      </p>

      <p>
        Use this service to find out:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          if you’re eligible for the scheme in England and Wales
        </li>
        <li>
          what to do if you did not get a letter about the Warm Home Discount but think you may be eligible
        </li>
      </ul>

      <div class="govuk-inset-text">
        If you live in a park home, you will need to apply for the <a href="https://www.parkhomeswhd.com/" target="_blank"">Park Homes Warm Home Discount Scheme</a> instead.
      </div>

      <a href="/region" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>
        You'll be asked about:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          the name of your electricity supplier
        </li>
        <li>
          details of any benefits you receive
        </li>
        <li>
          the type, age and size of your property
        </li>
      </ul>

      <p>
        If your property has an energy performance certificate (EPC), you can use your postcode to fill in your property details automatically.
      </p>

      <p>
        If your property doesn’t have an EPC, you’ll need to manually enter these details. However, we won’t be able give you a definite answer. Instead, we’ll estimate your eligibility and tell you what to do next.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">

            <li>
              <a href="https://www.gov.uk/the-warm-home-discount-scheme" target="_blank">
                Warm Home Discount Scheme
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/buy-sell-your-home/energy-performance-certificates" target="_blank">
                Energy Performance Certificates
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/improve-energy-efficiency" target="_blank">
                Find energy grants for your home (Help to Heat)
              </a>
            </li>
            <li>
              <a href="https://helpforhouseholds.campaign.gov.uk/help-with-your-bills/" target="_blank">
                Help from your energy supplier: the Energy Company Obligation
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                Boiler Upgrade Scheme
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                Winter Fuel Payment
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                Cold Weather Payment
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
